.logo {
    height: 50px;
    width: 80px;
}

.topnav {
    display: flex;
    align-items: flex-end;
}

.design-image, .develop-image, .analytics-image, .cybersecurity-image {
    height: 150px;
    width: 150px;
}

.hero-image {
    height: 300px;
    width: 600px;
    display: flex;
}

.flexbox-container {
    display: flex;
    justify-content: center;
}

.hero-section {
    display: contents;
    justify-content: space-between;
}